* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*公用的header*/
#header {
    height: 70px;
    width: 100%;
    /* border: 1px solid red; */
    background-image: url(/images/index/cunse.jpg);
    background-size: 100% 100%;


}



#header .container {
    width: 1200px;
    margin: 0 auto;
    height: 60px;

}

#header .inner {
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* background-color: brown; */

}

#header .logo {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    /* background-color: blue; */
    font-family: "STXingkai", "KaiTi", cursive;
    font-size: 50px;
    background: linear-gradient(to right, #8b0000, #d4af37);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 5px;
    transform: rotate(-3deg);
    /* border-bottom: 2px solid #d4af37;  */

}

#header .menu {
    width: 600px;
    height: 80px;
    font-weight: 400;

    /* font-family: "宋体", serif;
    background: url('旧宣纸纹理.jpg') no-repeat;
    background-size: cover;
    color: #5a3921;
    深褐色文字 */
    font-family: "STXingkai", "KaiTi", "SimSun", serif;
    /* 使用书法字体 */
    font-size: 32px;
    color: #5a3921;
    /* 深棕色 */
    line-height: 80px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);




    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color:red; */
}

#header .menu div {
    margin-left: 20px;

}

#header .menu a {
    text-decoration: none;
    color: #222;

}

#header .menu a:hover {
    color: #5a3935;
}

#header .logo img {
    width: 120px;
}


#footer {
    height: 160px;
    width: auto;
    border-top:2px solid rgb(224, 194, 25) ;
    background-image: url(/images/index/cunse.jpg);
    background-size: 100% auto;
    object-fit: cover;
}

#footer .inner {
    height: 160px;
    width: 100%;
    /* border: 1px solid blue; */
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    font-family: "宋体", serif;
    background: url('旧宣纸纹理.jpg') no-repeat;
    background-size: cover;
    color: #5a3921;
}

#footer .container {
    height: 49px;
    width: 1200px;
    margin: auto;
}